.content {
    flex: 1; /* Take remaining space */
    padding: 30px;
    background-color: #f9f9f9; /* Light gray background */
}

.contentform{
    max-width: 500px; /* Limit form container width */
    margin: 20px auto; /* Center the form container horizontally */
    padding: 20px; /* Add padding to the form container */
    border: 1px solid #ddd; /* Add border to the form container */
    border-radius: 5px; /* Add border radius to the form container */
    background-color: #fff; /* White background for the form container */
}

.form-container {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
}

.form-group {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    margin-bottom: 25px; /* Add space between form groups */
    
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #800000;
}

input[type="text"],
input[type="number"],
select {
    width: 250px; /* Fixed width for input boxes */
    flex: 1; /* Allow input to grow and fill remaining space */
    padding: 10px; /* Increase padding for better touch targets */
    font-size: 16px; /* Increase font size for better readability */
    border: 1px solid #ddd; /* Add border for inputs */
    border-radius: 5px; /* Add border radius for inputs */
    box-sizing: border-box; /* Include padding and border in input width */
}


select {
    appearance: none; /* Remove default select arrow */
    background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 10l5 5 5-5H7z"/></svg>'); /* Add custom select arrow */
    background-repeat: no-repeat; /* Prevent arrow from repeating */
    background-position: right 10px center; /* Position arrow on the right with padding */
}

.add-student-button {
    background-color: #861b1c; /* Blue button color */
    color: #fff; /* White text color */
    border: none; /* Remove button border */
    border-radius: 20px; /* Add border radius to button */
    padding: 12px 20px; /* Increase padding for better touch targets */
    font-size: 16px; /* Increase font size for better readability */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for button color change */
    margin: 0 auto; /* Center the button horizontally */
    display: block;
}

.add-student-button:hover {
    background-color: #863537;  
}
