
/* Main container styling */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #800000; /* Maroon background color */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #800000; /* White text color for headings */
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #800000; /* White text color for subheadings */
}

/* Label styles */
label {
    font-size: 18px;
    font-weight: bold;
    color: #800000; /* White text color for labels */
}

/* Input and select field styling 
input[type="date"],*/
input[type="time"],
input[type="input"],
select {
    width: 25%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333333; /* Dark text color for form inputs */
    background-color: #ffffff; /* White background for form inputs */
}

/* Button styling */
/*button {
    background-color: #861b1c;
    color: #fff;  Maroon button text color 
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
} 

button:hover {
    background-color: #863537; 
} */

/* Loading text styling */
.loading {
    font-size: 18px;
    text-align: center;
    padding: 20px;
    color: #ffffff; /* White text color for loading message */
}

/* Error message styling */
.error {
    color: #ff0000;
    font-size: 16px;
    margin-top: 10px;
}

