/* Modal Overlay */
.timelog-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.timelog-modal-content {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 90%;
    padding: 20px;
    position: relative;
    border: 2px solid #000;
}

.timelog-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 25px;
    color: #81343a;
}

/* Close Button */
.timelog-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #8A252C;
    transition: color 0.3s, transform 0.3s;
    border-radius: 4px;
    padding: 7px 15px;
    font-size: 18px;
    font-weight: bold;
}

.timelog-close-button:hover {
    color: #8A252C; /* Change color on hover */
    background-color: #ccc; 
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

/* Filters Section */
.timelog-filters {
    display: flex;
    gap: 40px; /* Space between filters */
    justify-content: center; /* Center the filters horizontally */
    margin-bottom: 20px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-timelog-label{
    font-size: 18px;
    font-weight: bold;
    color: #800000;
}

.select-timelog {
    width: 100px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
    color: #333333;
    background-color: #ffffff;
}

.timelog-duration{
    display: flex;
    gap: 75px;
    margin: 35px 0px;
    justify-content: center; /* Center horizontally */
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #ccc;  /* Slight shadow for all text */
}

.timelog-no-results{
    color: #888; /* Optional: Change color to gray for better visibility */
    background-color: #fff;
    padding: 10px; /* Optional: Add some padding for spacing */
}

/* Table Container */
.timelog-center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (optional) */
}

.timelog-table-container {
    max-height: 350px; /* Adjust height as needed */
    max-width: 750px;
    overflow-y: auto; /* Enable vertical scrolling */
    border: 2px solid #81343a;
}

/* Table Styling */
.timelog-table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are not doubled */
    table-layout: fixed; /* Ensures consistent cell width */
}

.timelog-table thead {
    position: sticky; /* Fixed to the top */
    top: 0; 
    z-index: 1; 
}

.timelog-table th, .timelog-table td {
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
    border: none;
}

.timelog-table th {
    background-color: #81343a; /* Header color */
    color: #fff;
    text-shadow: 3px 3px 5px #000;  /* Slight shadow for all text */
    font-weight: 600;
}

.timelog-table td {
    cursor: pointer;
    border-right: 1px solid #ccc; /* Border for body cells */
    border-bottom: 1px solid #ccc; /* Border for body cells */
}

.timelog-table tr {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow to create "floating" effect */
}

.timelog-table tr:hover {
    background-color: #f4f6f9; /* Hover effect */
}

.timelog-table th:nth-child(3),
.timelog-table td:nth-child(3) {   
    border: none;
}