.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
  
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 800px;
  max-height: 95%;
  border: 1px solid #000;
  overflow: auto;
}

.modal label{
  color: #8A252C;

}

.modal input[type='text']{
  width: 30%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal input[type='number'],
input[type='date'],
select{
  width: 30%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal .inputGroup{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal textarea {
  width: 55%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px; /* Match the border-radius with the input */
  border: 1px solid #ccc; /* Match the border style with the input */
  margin-bottom: 10px; /* Add space below */
  resize: vertical; /* Allow vertical resizing */
  font-family: Arial, sans-serif;
  transition: border-color 0.3s ease;
  margin-left: auto;
}

.modal textarea:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 3px rgba(128, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input {
  width: 60%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}