/* Content title */
.h1-title {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  color: #81343a;
  font-weight: bold;
  margin-right: 5px;
}

.h2-title-record {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.RecordTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.TitleContainer {
  display: flex; /* Use flexbox */
  align-items: center; /* Align titles vertically */
}

.triple-container {
  display: flex;
  gap: 50px; /* Adds space between the containers */
  margin-bottom: 30px;
}

.details-container {
  padding: 25px; /* Adds some padding inside each container */
  border: 2px solid #8A252C;
  background-color: #f9f9f9; /* Optional: Light background color */
  width: 80%;
  /*height: 380px;*/
}

.search-container {
  height: 50%;
  width: 20%;
}

.search-container input {
  width: 250px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333;
  background-color: #ffffff;
}

.search-container label {
  margin-top: 10px;  
}


.filter-container{
  margin-top: 50px;
  max-width: 100%;
}

.details-table {
  width: 100%;  
  border-collapse: collapse;  
}

.details-table td {
  padding: 8px 15px; 
  font-size: 14px; 
}

.details-table td:nth-child(1) {
  width: 25%;  
  text-align: left;  
}

.details-table td:nth-child(2) {
  width: 10%; 
  text-align: center; 
}

.details-table td:nth-child(3) {
  width: 65%;  
  text-align: left;  
}

/* Filter Styles */
.filters {
  margin-bottom: 20px; /* Space between filters and the chart */
  display: flex;
  gap: 10px; /* Space between individual filter elements */
  flex-wrap: wrap; /* Allows filters to wrap to the next line if necessary */
  text-align: center;
}

.filters select,
.filterContainer select {
  padding: 10px; /* Reduced padding for a tighter look */
  font-size: 14px; /* Adjust font size */
  border: 1px solid #ccc; /* Consistent border */
  border-radius: 4px; /* Smooth edges */
  background-color: #fff; /* White background */
  color: #414141; /* Darker text color for contrast */
  width: auto; /* Adjusts width based on content */
  text-align: center; /* Center the text inside the select */
  margin-left: 10px; /* Removed unnecessary left margin */
  position: relative;
}

.filterContainer {
  margin-top: 20px;
  max-width: 100%; /* Ensures it doesn't exceed the parent container's width */
  display: flex; /* Added flexbox to control layout */
  gap: 10px; /* Space between individual filters */
  flex-wrap: wrap; /* Allows filters to wrap to the next line if necessary */
  justify-content: space-between;
}

/* Chart Styles */
.chart {
  padding: 50px; /* Padding around the chart for better spacing */
  border: 2px solid #8A252C; /* Optional: border around the chart */
  border-radius: 8px; /* Rounded corners for the chart */
  background-color: #f9f9f9; /* Light background for contrast */
}

.chartWrapper {
  margin-top: 30px;
  max-width: 100%;
  max-height: 95%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.table-container {
  max-height: 100%; /* Adjust height as needed */
  width: 100%;
  overflow-y: auto; /* Ensure horizontal scrolling for smaller screens */
  border: 2px solid #8A252C;
}

.record-table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders are not doubled */
  table-layout: fixed; /* Ensures consistent cell width */
}

.record-table thead th {
  position: sticky; /* Sticky header */
  top: 0; /* Stick to the top */
  z-index: 1; /* Ensure header stays on top of scrolling body */
  background-color: #8A252C; /* Keep background color to prevent overlapping with content */
  color: white; /* White text for headers */
  text-shadow: 3px 3px 5px #000;  /* Slight shadow for text */
  font-weight: 600;
  border: none;
}

.record-table th, .record-table td {
  padding: 10px;
  font-size: 14px; /* Larger font size for readability */
  border-bottom: 1px solid #ddd;
}

.record-table td {
  padding: 10px;
  font-size: 12px; /* Larger font size for readability */
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center; /* Center align table data */
  cursor: pointer; /* Pointer cursor for rows */
}

.record-table td:nth-child(4), 
.record-table th:nth-child(4) {
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Ensure long words wrap onto the next line */
  word-break: break-word; /* For compatibility with different browsers */
  width: 20%; /* Adjust the width to make the column longer */
  text-align: left; /* Optional: Align text to the left for readability */
}

.record-table td:nth-child(5), 
.record-table th:nth-child(5) {
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Ensure long words wrap onto the next line */
  word-break: break-word; /* For compatibility with different browsers */
  width: 20%; /* Adjust the width to make the column longer */
  text-align: left; /* Optional: Align text to the left for readability */
}

.record-table th:nth-child(7) {
  border-right: 0.5px solid #8A252C;
}

.record-table tr {
  background-color:#fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow to create "floating" effect */
}

.record-table tr:hover {
  background-color: #f4f6f9; /* Highlighted row color on hover */
}

.selected-row {
  background-color: #e0e0e0 !important;
  color: #8A252C; /* Dark red text color for selected row */
  font-weight: bold;
}

/* Search Bar */
.separator {
  display: flex; /* Ensure children are aligned correctly */
  align-items: center; /* Center the icon and input vertically */
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-containerz {
  position: relative;
  width: 100%; /* Adjust width as necessary */
  max-width: 300px; /* Set a maximum width for the input */
}

.search-input {
  width: 100%;
  padding: 10px 15px; /* Adjust padding for input text */
  padding-left: 40px; /* Add left padding for the icon */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%; /* Center icon vertically */
  left: 10px; /* Position icon horizontally */
  transform: translateY(-50%);
  font-size: 20px; /* Adjust icon size */
  color: #888; /* Icon color */
  pointer-events: none; /* Make icon non-clickable */
}

