.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background: linear-gradient(135deg, #f5f7fa, #e2c3c3);*/
  background-color: #e4e4e4;
  text-align: center;
}
.error-page h1{
  font-size: 8rem;
  color: #800000;
}
.error-page p{
  font-size: 2rem;
  color: #800000;
  margin-bottom: 1rem;
}

.counter{
  font-size: 1.5rem;
  color: #9c9c9c;
}

