.button-group {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.action-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
    text-shadow: 1px 1px 3px #000;  /* Slight shadow for all text */
    display: flex;
    align-items: center;
}

.action-button svg {
    font-size: 1.5rem; /* Adjust size */
    margin-right: 0.5rem; /* Space between icon and text */
    filter: drop-shadow(1px 1px 3px #000); /* Adjust the values as needed */
}

.green-button {
    background-color: #4caf50;
    text-shadow: 1px 1px 3px #000;  /* Slight shadow for all text */
}

.green-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.red-button {
    background-color: #e53935;
    text-shadow: 1px 1px 3px #000;  /* Slight shadow for all text */
}

.red-button:hover {
    background-color: #e53935;
    transform: scale(1.05);
}

.maroon-button {
    background-color: #861b1c;
    text-shadow: 1px 1px 3px #000;  /* Slight shadow for all text */
}

.maroon-button:hover {
    background-color: #6d3f3e;
    transform: scale(1.05);
}

.orange-button {
    background-color: #FF9800;
    text-shadow: 1px 1px 3px #000;  /* Slight shadow for all text */
}

.orange-button:hover {
    background-color: #FB8C00;
    transform: scale(1.05);
}

.yellow-button {
    background-color: #e8bd26;
    text-shadow: 1px 1px 3px #000;  /* Slight shadow for all text */
}

.yellow-button:hover {
    background-color: #C69A1E;
    transform: scale(1.05);
}

.gold-button {
    background-color: #d4af37;
    text-shadow: 1px 1px 3px #000;  /* Slight shadow for all text */
}

.gold-button:hover {
    background-color: #b68f2b;
    transform: scale(1.05);
}

.action-icon{
    color: #8A252C;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 2.0rem;
}

.action-icon:hover {
    transform: scale(1.25);
    cursor: pointer;
}