.maroonbox {
    width: 100%;
    border: 2px solid black;
    border-radius: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #a02727;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}



.box {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(100, 0, 0, 0.9), rgba(100, 0, 0, 0.3));
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sanctionsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
}

.sanctionItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

.sanctionItem:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.gridItem {
    margin-bottom: 8px;
    color: #333;
}

.label {
    font-weight: bold;
    color: #a02727;
}
