.table-container {
    max-height: 400px; /* Adjust height as needed */
    max-width: 100%;
    overflow-y: auto; /* Ensure horizontal scrolling for smaller screens */
    border: 2px solid #8A252C;
}

.global-table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are not doubled */
    table-layout: fixed; /* Ensures consistent cell width */
}

.global-table thead {
    position: sticky; /* Sticky header */
    top: 0; /* Fixed to the top */
    z-index: 1; /* Ensure header stays on top of scrolling body */
}

.global-table th, .global-table td {
    padding: 12px;
    text-align: center;
    font-size: 16px; /* Larger font size for readability */
    border-bottom: 1px solid #ddd;
}

.global-table th {
    background-color: #8A252C; /* Admin dashboard header color */
    color: white; /* White text for headers */
    text-shadow: 3px 3px 5px #000;  /* Slight shadow for all text */
    font-weight: 600;
    border-left: none;
    border: 0.5px solid #8A252C;  
}

.global-table td {
    border: 1px solid #ddd;
}

.global-table tr:hover {
    background-color: #f4f6f9; /* Highlighted row color on hover */
}

.global-table td {
    text-align: center; /* Center align table data */
    cursor: pointer; /* Pointer cursor for rows */
}