.notification-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .notification-modal-content {
    background: #fff;
    width: 400px;
    max-height: 80vh;
    padding: 20px;
    border-radius: 8px;
    position: relative; /* Ensure relative positioning to position the close button inside */
    overflow-y: auto; /* Makes the content scrollable */
  }
  
  .notification-close-button {
    background: none;
    border: none;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px; /* Keep the button inside the modal */
    cursor: pointer;
    color: #333;
  }
  
  .notification-modal-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Center the title */
  }
  
  .notification-modal-section-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .notification-modal-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .notification-modal-list-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd; /* Add some light border to items */
    border-radius: 5px;
  }
  
  .notification-modal-empty-message {
    color: #777;
    text-align: center; /* Center the empty message */
  }
  
  .notification-modal-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .notification-modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .notification-modal-content::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .notification-modal-content::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .clickable {
    cursor: pointer;
  }
  