/* Content title */
.h1-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #81343a;
  font-weight: bold;
  margin-right: 5px;
}

.RecordTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.TitleContainer {
  display: flex; /* Use flexbox */
  align-items: center; /* Align titles vertically */
}

/* Filter Styles */
.filters {
  margin-bottom: 20px; /* Space between filters and the chart */
  display: flex;
  gap: 10px; /* Space between individual filter elements */
  flex-wrap: wrap; /* Allows filters to wrap to the next line if necessary */
  text-align: center;
}

.filters select,
.filterContainer select {
  padding: 10px; /* Reduced padding for smaller buttons */
  font-size: 14px; /* Adjust font size for smaller appearance */
  border: 1px solid #ccc; /* Border styling */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff; /* Background color */
  color: #414141;   
  margin-left: 10px;
  width: 12%;
  text-align: center;
}

.filterContainer {
  margin-bottom: 20px;
}

.switchViewButton {
  background-color: #8A252C;; /* Button color */
  color: #fff; /* White text color */
  border: none; /* Remove button border */
  border-radius: 20px; /* Add border radius to button */
  padding: 12px 20px; /* Increase padding for better touch targets */
  font-size: 16px; /* Increase font size for better readability */
  cursor: pointer; /* Show pointer cursor on hover */
  margin: 0 auto; /* Center the button horizontally */
  display: flex;
  transition: transform 0.3s ease, background-color 0.3s ease-in-out;
  animation: fadeInLeft 0.8s ease-in-out;
  text-shadow: 1px 1px 3px #000;  /* Slight shadow for all text */
  margin-top: 20px;
  font-weight: bold;
}

.switchViewButton:hover {
  background-color: #6d3f3e; 
  transform: scale(1.05); /* Slightly enlarge on hover */ 
}

.switchViewButton:focus {
  outline: none;
}

/* Chart Styles */
.chart {
  margin-top: 30px; /* Space above the chart */
  padding: 20px; /* Padding around the chart for better spacing */
  border: 1px solid #ddd; /* Optional: border around the chart */
  border-radius: 8px; /* Rounded corners for the chart */
  background-color: #f9f9f9; /* Light background for contrast */
}

.chartWrapper {
  margin-top: 30px;
  max-width: 100%;
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart{
  width: 100%;
}

/* Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

