.actionButtons{
  margin-top: 10px;
}

.report-action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 0.85rem;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
  text-shadow: 1px 1px 3px #000; /* Slight shadow for all text */
  margin-right: 10px;
}

.report-action-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.report-action-button:disabled {
  background-color: #D3D3D3; /* Light Gray */
  color: #999999; /* Muted gray text */
  cursor: not-allowed;
  border: 1px solid #CCCCCC; /* Light gray border */
  text-shadow: none;
}

.report-action-button:disabled:hover {
  background-color: #D3D3D3; /* Keep background unchanged on hover */
  cursor: not-allowed;
  transform: none;
}

.report-suspension-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 0.85rem;
  cursor: pointer;
  background-color: #FF9800 ;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
  text-shadow: 1px 1px 3px #000; /* Slight shadow for all text */
  margin-right: 10px;
}

.report-suspension-button:hover {
  background-color: #FB8C00 ;
  transform: scale(1.05);
}

.report-suspension-button:disabled {
  background-color: #D3D3D3; /* Light Gray */
  color: #999999; /* Muted gray text */
  cursor: not-allowed;
  border: 1px solid #CCCCCC; /* Light gray border */
  text-shadow: none;
}i

.report-suspension-button:disabled:hover {
  background-color: #D3D3D3; /* Keep background unchanged on hover */
  cursor: not-allowed;
  transform: none;
}



