.report-details, .suspension-details-table {
    border-collapse: collapse; /* Ensure borders are merged */
    margin-top: 20px; /* Add space above the table */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add slight shadow for depth */
    overflow-y: auto;
}

.report-details th, .suspension-details-table th,
.report-details td, .suspension-details-table td {
    border: 1px solid #ccc; /* Set border for table cells */
    padding: 10px; /* Add padding for better spacing */
    text-align: left; /* Align text to the left */
}

.report-details td:nth-child(1) {
    width: 10%; /* Set the width to 30% of the table width */
}

.report-details td:nth-child(2) {
    width: 30%; /* Set the width to 30% of the table width */
}

.report-details th, .suspension-details-table th {
    background-color: #f2f2f2; /* Light background for header */
    font-weight: bold; /* Make header text bold */
}

.report-details tr:nth-child(even), .suspension-details-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Light background for even rows */
}

.report-details tr:hover, .suspension-details-table tr:hover {
    background-color: #e9e9e9; /* Highlight row on hover */
}

.tablesContainer {
    display: flex; /* Use flexbox to align items side by side */
    justify-content: space-between; /* Add space between the tables */
    margin-top: 5px; /* Space above the tables */
    gap: 10%;
}

.tableWrapper {
    flex: 1; /* Allow each table to take equal space */
    margin-right: 20px; /* Space between the tables */
}
  

  